#training {
    font-size: 20px;
    padding-top: 45px; 
}

#master {
    font-size: 19.5px;
    padding-top: 40px;
}

#bachelor {
    font-size: 16px;
    padding-top: 25px;
}


#high-school {
    font-size: 15px;
    padding-top: 10px;
}





/*                                            Make My Website Responsive :                                */
/*                                            Make My Website Responsive :                                */
/*                                            Make My Website Responsive :                                */
/*                                            Make My Website Responsive :                                */




@media screen and (min-device-width:1331px) and (max-device-width:1420px) {

    #home {
        min-height: 100vh;
        background-image: url(../img/MyPicture.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
}

@media screen and (max-device-width:1330px) {

    #home {
            min-height: 100vh;
            background-image: url(../img/ForSmallScreen.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
    }

    #myname {
        font-size: 50px;
    }

    #JobPosition {
        font-size: 40px;
    }

    #call-button {
        margin-left: 60px;
        margin-top: 50px;
        display: block;
        width: 155px;
    }

    #objective {
        width: 30%;
    }

    .my-experience {
        height: 30vh;
    } 

    .my-projects{
        margin: 50px;
        width: 300px;
        height: 230px;
        border: 2px solid rgb(177, 142, 0);
        color: rgb(255, 255, 255);
        border-radius: 50px;
        transition: 0.7s ease;
        opacity: 0.9;
        text-align: center;
    }
    
    .projects-images {
        width: 295px;
        height: 100px;
        border-radius: 47px 47px 0px 0px;
    } 

    #progress-container {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: 200px 200px 200px;
        gap: 5vw;
        padding-left: 12vw;
        padding-top: 50px;
    }
    
}

@media screen and (max-device-width:1200px) {

    .name-job-objective {
        position: relative;
        bottom: 65px;
    }

    #myname {
        font-size: 45px;
    }

    #objective {
        font-size: 12px;
    }

    #education .flex-container .stages-education {
        margin-left: auto;
        margin-right:auto ;
    }

    .my-experience {
        height: 35vh;
    }

    #projects .flex-container .my-projects {
        margin-left: auto;
        margin-right:auto ;
    }

    #progress-container {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: 200px 200px 200px;
        gap: 5vw;
        padding-left: 5vw;
        padding-top: 50px;
    } 

}

@media screen and (max-device-width:1010px) {

    #myname {
        font-size: 40px;
    }

    #JobPosition {
        font-size: 30px;
    }

    .my-experience {
        height: 30vh;
    }

}

@media screen and (max-device-width:950px) {

    .nav-icon, #du-en {
        font-size: 18px;
    }

    #myname {
        font-size: 35px;
    }

    #JobPosition {
        font-size: 25px;
    }

    #projects .flex-container{
        width: 94%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: auto;
        margin-right:auto ;
    }

}

@media screen and (max-device-width:913px) {


    #objective {
        font-size: 25px;
        margin-top: 25px;
    }

    .my-experience {
        height: 20vh;
    }

    #progress-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 200px 200px 200px;
        gap: 5vw;
        padding-left: 13vw;
        padding-top: 50px;
        padding-bottom: 150px;
    } 

}


@media screen and (max-device-width:870px) {

    .nav-icon, #du-en {
        margin-right: 15px;
        font-size: 16px;
    }

    #myname {  
        width: 50%;
    }
    
    #JobPosition {
        width: 50%;
    }

    #call-button {
        font-size: 18px;
        width: 125px;
    }


}


@media screen and (max-device-width:820px) {

    .my-experience {
        height: 30vh;

    }

    #progress-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 200px 200px 200px;
        gap: 5vw;
        padding-left: 9vw;
        padding-top: 50px;
        padding-bottom: 150px;
    } 

}


@media screen and (max-device-width:795px) {


    .name-job-objective {
        position: relative;
        right: 35px;
        bottom: 65px;
    }

    #call-button {
        padding: 10px;
        font-size: 18px;
        width: 115px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #objective {
        font-size: 15px;
    }

    #objective span {
        font-size: 35px !important;
    }

}


@media screen and (max-device-width:790px) {

    #call-button {
        font-size: 18px;
        width: 115px;
        margin-top: 0px ;
        margin-bottom: 40px;
    }

    .my-experience {
        height: 35vh;
    }

    #progress-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 200px 200px 200px;
        gap: 5vw;
        padding-left: 7vw;
        padding-top: 50px;
        padding-bottom: 150px;
    } 

}


@media screen and (max-device-width:744px) {

    .my-experience {
        height: 45vh;
    }

}


@media screen and (max-device-width:730px) {


    #education .flex-container {
        flex-direction: column;
    }

    #education .flex-container .stages-education {
        margin-bottom: 15px;
    }

    #skills #progress-container {
        display: none;
    }

    #skills .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        position: relative;
        right: 90px;
        font-size: 15px;
        padding-bottom: 200px;
        margin-bottom: -25px;
    }

}


@media screen and (max-device-width:712px) {

    .nav-icon {
        margin-top: 20px;
        margin-right: 15px;
        font-size: 11px;
    }

    #call-button {
        font-size: 12px;
        width: 80px;
        margin-left: 10px;
        margin-top: -45px;
    }

    .my-experience {
        height: 50vh;
    }
}


@media screen and (max-device-width:665px) {


    #objective {
        font-size: 12px;
    }

    #qoutes {
        font-size: 30px;
    }

}

@media screen and (max-device-width:654px) {

    .my-experience {
        height: 55vh;
    }

}


@media screen and (max-device-width:600px) {

    #flex-container-column{
        flex-direction: column;
        width: 94vw;
        flex-wrap: nowrap;
        margin-right: 50px;
        margin-bottom: 500px;
        height: 40vh;
    }

    .navbar-large-screen {
        display: none;
    }

    #for-small-screens {
        display: block;
    }

    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: #00001f !important;
        height : 60px;
    }

    .navbar-collapse {
        background-color: #00001f !important;
        width: 200px;
        padding-left: 15px;
        border: #00001f;
    }

    .navbar-toggler {
        background-color: rgb(137, 110, 0);
    }

    li:hover {
        text-decoration: underline;
        background-color: rgb(137, 110, 0);
    }

    #grid-container-one-column i {
        margin-left: 30px;
    }

    #skills .grid-container {
        padding-left: 75px;
     }

    #contact-with-me {
        font-size: 22px;
    }

}    

@media screen and (max-device-width:545px) {

    #high-school {
        margin-top: 55px;
    }

    #flex-container-column {
        margin-top: 250px;
    }

    #grid-container-one-column i {
        margin-left: 5px;
    }

    #flex-container-column .my-experience {
        width: 400px;
        margin-left: 70px;
    }

    #projects {
        position: relative;
        bottom: 250px;
    }

    #skills {
        position: relative;
        bottom: 200px;
    }

    #skills .grid-container {
        padding-bottom: 20px;
        position: relative;
        left: 5vw;
        width: 50%;
    }

    .progress-skills a {
        position: relative;
        bottom: 16px;
    }

}

@media screen and (max-device-width:500px) {

    .name-job-objective {
        position: absolute;
        position: relative;
        right: 50px;
    }

    #JobPosition {
        font-size: 20px;
    }

    #objective {
        font-size: 10px;
    }


}

@media screen and (max-device-width:467px) {

    #grid-container-one-column i {
        margin-left: 0px;
    }

    .grid-container div span {
        font-size: 15px;
    }

    #contact .grid-container {
        display: none;
    }

    #grid-container-one-column {
        display: block;
    }

    #grid-container-one-column i {
        margin-top: 20px;
    }

    #grid-container-one-column div a {
        font-size: 35px;
    }

    #flex-container-column .my-experience {
        width: 340px;
    }

    #flex-container-column .my-experience {
        width: 300px;
        margin-left: 70px;
        height: 60vh;
    }

    #projects {
        position: relative;
        top: 150px;
    }

    #skills {
        position: relative;
        top: 140px;
    }

    .skills-logo {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    #contact {
        text-align: center;
        margin-top: 25px;
    }

}


@media screen and (max-device-width:415px) {

    #projects {
        margin-top: -390px;
    }

    #skills .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        position: relative;
        left: -30px;
        font-size: 15px;
        padding-bottom: 200px;
        margin-bottom: -25px;
    }

    .progress-skills a img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

}

@media screen and (max-device-width:400px) {

    #flex-container-column .my-experience {
        margin-left: 40px;
    }

    #skills .grid-container {
        padding-left: 60px;
    }


}


@media screen and (min-device-width:281px) and (max-device-width:360px) {


    body {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 124.5%;
    }

    #home {
        background-image: url(../img/screen280.jpg);
    }

    #objective {
        font-size: 6px;
    }

    .stages-education {
        transform: scale(0.8);
        position: absolute;
        position: relative;
        left: 10px;
    }

    .my-experience {
        position: relative;
        left: 45px;
        transform: scale(0.8);
        margin: auto;
    }

    .my-projects {
        transform: scale(0.8);
    }

    #skills .grid-container {
        padding-left: 90px;
    }
}


@media screen and (max-device-width:280px){


    body {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 124.5%;
    }

    #home {
        background-image: url(../img/screen280.jpg);
    }

    #objective {
        font-size: 6px;
    }

    .stages-education {
        transform: scale(0.8);
        position: absolute;
        position: relative;
        left: 10px;
    }

    .my-experience {
        position: relative;
        right: 10px;
        transform: scale(0.8);
        margin: auto;
    }

    #skills .grid-container {
        padding-left: 35px;
    }
}